In [56]:
import ctypes
from ctypes import c_char_p, cdll
import pandas as pd
import json
from pandarallel import pandarallel
from collections import OrderedDict
from help_function import *
GoInt64 = ctypes.c_int64
GoInt = GoInt64

In [57]:

with open("aave.txt", "r") as f:
    res = f.read()
res = res.split(';')[:-1]
res = pd.DataFrame(list(map(lambda x: json.loads(s=x), res)))
res = res[['Topic0', 'Topic1', 'Topic2', 'Topic3', 'Data', 'BlockNumber', 'Index']]
res

,Topic0,Topic1,Topic2,Topic3,Data,BlockNumber,Index
0,0x804c9b842b2748a22bb64b345453a3de7ca54a6ca45c...,0x000000000000000000000000a0b86991c6218b36c1d1...,NaN,NaN,0000000000000000000000000000000000000000001c95...,12466875,379
1,0xc6a898309e823ee50bac64e45ca8adba6690e99e7841...,0x000000000000000000000000a0b86991c6218b36c1d1...,0x00000000000000000000000017c4942503cd58afc194...,0x00000000000000000000000000000000000000000000...,00000000000000000000000017c4942503cd58afc19472...,12466875,381
2,0x804c9b842b2748a22bb64b345453a3de7ca54a6ca45c...,0x0000000000000000000000002260fac5e5542a773aa4...,NaN,NaN,0000000000000000000000000000000000000000000059...,12466876,167
3,0x00058a56ea94653cdf4f152d227ace22d4c00ad99e2a...,0x0000000000000000000000002260fac5e5542a773aa4...,0x00000000000000000000000002f593a1d286c54db17e...,NaN,,12466876,172
4,0xde6857219544bb5b7746f48ed30be6386fefc61b2f86...,0x0000000000000000000000002260fac5e5542a773aa4...,0x00000000000000000000000002f593a1d286c54db17e...,0x00000000000000000000000000000000000000000000...,000000000000000000000000bcc4371cc40592794bf5b7...,12466876,173
...,...,...,...,...,...,...,...
138835,0x00058a56ea94653cdf4f152d227ace22d4c00ad99e2a...,0x000000000000000000000000c02aaa39b223fe8d0a0e...,0x00000000000000000000000073b483cdee365e4dd968...,NaN,,12566859,175
138836,0xde6857219544bb5b7746f48ed30be6386fefc61b2f86...,0x000000000000000000000000c02aaa39b223fe8d0a0e...,0x00000000000000000000000073b483cdee365e4dd968...,0x00000000000000000000000000000000000000000000...,000000000000000000000000cc9a0b7c43dc2a5f023bb9...,12566859,176
138837,0x804c9b842b2748a22bb64b345453a3de7ca54a6ca45c...,0x000000000000000000000000d533a949740bb3306d11...,NaN,NaN,000000000000000000000000000000000000000007c4fa...,12566868,28
138838,0x00058a56ea94653cdf4f152d227ace22d4c00ad99e2a...,0x000000000000000000000000d533a949740bb3306d11...,0x000000000000000000000000e3e39161d35e9a81edec...,NaN,,12566868,32
138839,0xde6857219544bb5b7746f48ed30be6386fefc61b2f86...,0x000000000000000000000000d533a949740bb3306d11...,0x000000000000000000000000e3e39161d35e9a81edec...,0x00000000000000000000000000000000000000000000...,000000000000000000000000e3e39161d35e9a81edec66...,12566868,33

In [58]:
t0 = res.Topic0.unique()
print(len(t0))
t0

10

array(['0x804c9b842b2748a22bb64b345453a3de7ca54a6ca45ce00d415894979e22897a',
       '0xc6a898309e823ee50bac64e45ca8adba6690e99e7841c45d754e2a38e9019d9b',
       '0x00058a56ea94653cdf4f152d227ace22d4c00ad99e2a43f58cb7d9e3feb295f2',
       '0xde6857219544bb5b7746f48ed30be6386fefc61b2f864cacf559893bf50fd951',
       '0x631042c832b07452973831137f2d73e395028b44b250dedc5abb0ee766e168ac',
       '0x44c58d81365b66dd4b1a7f36c25aa97b8c71c361ee4937adc1a00000227db5dd',
       '0x3115d1449a7b732c986cba18244e897a450f61e1bb8d589cd2e69e6c8924f9f7',
       '0x4cdde6e09bb755c9a5589ebaec640bbfedff1362d4b255ebf8339782b9942faa',
       '0xe413a321e8681d831f4dbccbca790d2952b56f977908e45be37335533e005286',
       '0xea368a40e9570069bb8e6511d668293ad2e1f03b0d982431fd223de9f3b70ca6'],
      dtype=object)

In [59]:
# topic0 = ['0x804c9b842b2748a22bb64b345453a3de7ca54a6ca45ce00d415894979e22897a',
#        '0x00058a56ea94653cdf4f152d227ace22d4c00ad99e2a43f58cb7d9e3feb295f2',
#        '0xde6857219544bb5b7746f48ed30be6386fefc61b2f864cacf559893bf50fd951',
#        '0x44c58d81365b66dd4b1a7f36c25aa97b8c71c361ee4937adc1a00000227db5dd',
#        '0x3115d1449a7b732c986cba18244e897a450f61e1bb8d589cd2e69e6c8924f9f7',
#        '0xc6a898309e823ee50bac64e45ca8adba6690e99e7841c45d754e2a38e9019d9b',
#        '0x4cdde6e09bb755c9a5589ebaec640bbfedff1362d4b255ebf8339782b9942faa',
#        '0x631042c832b07452973831137f2d73e395028b44b250dedc5abb0ee766e168ac',
#        '0xe413a321e8681d831f4dbccbca790d2952b56f977908e45be37335533e005286',
#        '0xea368a40e9570069bb8e6511d668293ad2e1f03b0d982431fd223de9f3b70ca6']
# name = "ReserveDataUpdated ReserveUsedAsCollateralEnabled Deposit ReserveUsedAsCollateralDisabled Withdraw Borrow Repay FlashLoan LiquidationCall Swap".split(" ")
# aave_log_dict = OrderedDict(zip(topic0, name))
# # {i:j for i,j in zip(topic0, name)}
# aave_log_dict

In [60]:
aave_log_details = OrderedDict(
    ReserveDataUpdated = OrderedDict(
        topic0 = '0x804c9b842b2748a22bb64b345453a3de7ca54a6ca45ce00d415894979e22897a',
        topic1 = ['address', 'reserve'],
        topic2 = None,
        topic3 = None,
        data = [
            ['int', 'liquidityRate'],
            ['int', 'stableBorrowRate'],
            ['int', 'variableBorrowRate'],
            ['int', 'liquidityIndex'],
            ['int', 'variableBorrowIndex'],
        ]
    ),
    ReserveUsedAsCollateralEnabled = OrderedDict(
        topic0 = '0x00058a56ea94653cdf4f152d227ace22d4c00ad99e2a43f58cb7d9e3feb295f2',
        topic1 = ['address', 'reserve'],
        topic2 = ['address', 'onBehalfOf'], # user, msg.sender
        topic3 = None,
        data = []
    ),
    ReserveUsedAsCollateralDisabled = OrderedDict(
        topic0 = '0x44c58d81365b66dd4b1a7f36c25aa97b8c71c361ee4937adc1a00000227db5dd',
        topic1 = ['address', 'reserve'],
        topic2 = ['address', 'onBehalfOf'], # user, msg.sender
        topic3 = None,
        data = []
    ),
    Deposit = OrderedDict(
        topic0 = '0xde6857219544bb5b7746f48ed30be6386fefc61b2f864cacf559893bf50fd951',
        topic1 = ['address', 'reserve'],
        topic2 = ['address', 'onBehalfOf'],
        topic3 = ['int', 'referral'],
        data = [
            'address reserve'.split(' '),
            'int amount'.split(' '),
        ]
    ),
    Withdraw = OrderedDict(
        topic0 = '0x3115d1449a7b732c986cba18244e897a450f61e1bb8d589cd2e69e6c8924f9f7',
        topic1 = ['address', 'reserve'],
        topic2 = ['address', 'onBehalfOf'], # user, msg.sender
        topic3 = ['address', 'to'], # token receiver
        data = [
            'int amount'.split(' '),
        ]
    ),
    Borrow = OrderedDict(
        topic0 = '0xc6a898309e823ee50bac64e45ca8adba6690e99e7841c45d754e2a38e9019d9b',
        topic1 = ['address', 'reserve'],
        topic2 = ['address', 'onBehalfOf'],
        topic3 = ['int', 'referral'],
        data = [
            'address user'.split(' '),  # user, msg.sender
            'int amount'.split(' '),
            'int borrowRateMode'.split(' '),
            'int borrowRate'.split(' '),
        ]
    ),
    Repay = OrderedDict(
        topic0 = '0x4cdde6e09bb755c9a5589ebaec640bbfedff1362d4b255ebf8339782b9942faa',
        topic1 = ['address', 'reserve'],
        topic2 = ['address', 'onBehalfOf'],  # 
        topic3 = ['address', 'repayer'], # user, msg.sender
        data = [
            'int amount'.split(' '),
        ]
    ),
    FlashLoan = OrderedDict(
        topic0 = '0x631042c832b07452973831137f2d73e395028b44b250dedc5abb0ee766e168ac',
        topic1 = ['address', 'target'],
        topic2 = ['address', 'initiator'],
        topic3 = ['address', 'asset'],
        data = [
            'int amount'.split(' '),
            'int premium'.split(' '),
            'int referralCode'.split(' ')
        ]
    ),
    LiquidationCall = OrderedDict(
        topic0 = '0xe413a321e8681d831f4dbccbca790d2952b56f977908e45be37335533e005286',
        topic1 = ['address', 'collateralAsset'],
        topic2 = ['address', 'debtAsset'],
        topic3 = ['address', 'user'],
        data = [
            'int debtToCover'.split(' '),
            'int liquidatedCollateralAmount'.split(' '),
            'address liquidator'.split(' '),
            'bool receiveAToken'.split(' '),
        ]
    ),
    Swap = OrderedDict(
        topic0 = '0xea368a40e9570069bb8e6511d668293ad2e1f03b0d982431fd223de9f3b70ca6',
        topic1 = ['address', 'reserve'],
        topic2 = ['address', 'onBehalfOf'], # user, msg.sender
        topic3 = None,
        data = [
            'int rateMode'.split(' '),
        ]
    )

)

In [68]:
address_delete = '000000000000000000000000'
def handel_raw_data(raw_data, raw_data_type):
    if raw_data_type == 'address':
        tmp_address = ''.join(raw_data.split(address_delete))#.copy()
        if tmp_address[:2] != '0x':
            tmp_address = '0x' + tmp_address
        return tmp_address
    if raw_data_type == 'int':
        return hex2int(raw_data)
    if raw_data_type == 'bool':
        return bool(hex2int(raw_data))

log_df_dict = OrderedDict()

for log_name, log_meta in aave_log_details.items():
    
    # # Test
    # log_name = 'LiquidationCall'
    # log_meta = aave_log_details[log_name]


    sub_df = res[res["Topic0"] == log_meta['topic0']].copy()
    del sub_df['Topic0']
    for i in range(1,4):
        topic_i = log_meta['topic'+str(i)]
        if topic_i is not None:
            sub_df[topic_i[-1]] = sub_df['Topic'+str(i)].apply(
                handel_raw_data, 
                args=(topic_i[0],)
            )
        del sub_df['Topic'+str(i)]
    if len(log_meta['data']) == 0:
        continue
    cut_gap = int(len(sub_df['Data'].iloc[0])/len(log_meta['data']))
    cut_start = 0
    for data_type, data_name in log_meta['data']:
        cut_end = cut_start + cut_gap
        sub_df[data_name] = sub_df['Data'].apply(
            lambda x: x[cut_start:cut_end]
        ).apply(
            handel_raw_data, 
            args=(data_type,)
        )
        cut_start = cut_end
    del sub_df['Data']
    log_df_dict[log_name] = sub_df
sub_df

,BlockNumber,Index,reserve,user,rateMode
9713,12470391,341,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,0x69cb9f7cb8d09ddd82194123a96b80733b45bd21,1
10437,12470844,151,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,0x5cadcca79d007148b2da448911431fa9eaf8efd8,1
10447,12470853,346,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,0x5cadcca79d007148b2da448911431fa9eaf8efd8,2
10539,12470920,161,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,0x7973d4a24748c9243a894e9de295f9099bc7adc8,1
10783,12471045,84,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,0x00bc71bb2871eeb67df03e04529ff2c609cd9c72,1
...,...,...,...,...,...
133542,12560812,253,0xdac17f958d2ee523a2206206994597c13d831ec7,0x940cb2ae1a80dfc479653d392845a068aa74b599,1
133927,12561184,216,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,0x731aa855a920da6e14aa80cd3b6324a0b28f016f,1
134156,12561373,377,0x6b175474e89094c44da98b954eedeac495271d0f,0x517013ce95bd77a8827f61e8572cf539217b3f1c,1
135179,12562671,238,0x6b175474e89094c44da98b954eedeac495271d0f,0x51f8850624e6ff3b9dc69eb2f7150dd09e626b48,1
137408,12565519,105,0x6b175474e89094c44da98b954eedeac495271d0f,0x38fd0b5e45cce5dd2e84776da4b0a88fdb8b2ee4,1

In [37]:
sub_df['Topic'+str(i)].apply(lambda x: ''.join(x.split(address_delete)))

AttributeError: 'float' object has no attribute 'split'

In [2]:
!go build --buildmode=c-shared -o library.so main.go

# Test 1

In [28]:
__library = cdll.LoadLibrary('./library.so')
get_block_time = __library.get_block_time
get_block_time.argtypes = [c_char_p, GoInt, GoInt]
get_block_time.restype = c_char_p

archive_node = "http://localhost:19545"
blcokFrom = 14766800
blockTo = 14766810
# blockTo = 14766926

res = get_block_time(
    archive_node.encode(), 
    GoInt(blcokFrom), 
    GoInt(blockTo)
)

res = res.decode("utf-8")
res = pd.DataFrame(json.loads(s=res).items(), columns=['BlockNum', 'Timestamp'])
res['TimeStr'] = pd.to_datetime(res['Timestamp'], unit='s').apply(str)
res

    BlockNum   Timestamp              TimeStr
0   14766801  1652437484  2022-05-13 10:24:44
1   14766802  1652437487  2022-05-13 10:24:47
2   14766803  1652437492  2022-05-13 10:24:52
3   14766804  1652437527  2022-05-13 10:25:27
4   14766805  1652437582  2022-05-13 10:26:22
5   14766806  1652437623  2022-05-13 10:27:03
6   14766807  1652437633  2022-05-13 10:27:13
7   14766808  1652437642  2022-05-13 10:27:22
8   14766809  1652437645  2022-05-13 10:27:25
9   14766810  1652437687  2022-05-13 10:28:07
10  14766811  1652437689  2022-05-13 10:28:09

'2022-05-13 10:24:44'

# Test 2

In [3]:
GoInt64 = ctypes.c_int64
GoInt = GoInt64

__library = cdll.LoadLibrary('./library.so')
get_log_data = __library.get_log_data
get_log_data.argtypes = [c_char_p, c_char_p, GoInt, GoInt]
get_log_data.restype = c_char_p

data_source = "uniswapv3_usdt_eth"
archive_node = "http://localhost:19545"
blcokFrom = 14766800
blockTo = 14766810
# blockTo = 14766926

res = get_log_data(
    data_source.encode(), 
    archive_node.encode(), 
    GoInt(blcokFrom), 
    GoInt(blockTo)
)

print(res)

b'{"Topic0":"0xc42079f94a6350d7e6235f29174924f928cc2ac818eb64fed8004e115fbcca67","Topic1":"0x000000000000000000000000c5ecee6d94f72b6c456e3032f383284cca36b70a","Topic2":"0x000000000000000000000000c6093fd9cc143f9f058938868b2df2daf9a91d28","Data":"000000000000000000000000000000000000000000000001e40006a3df3204e7ffffffffffffffffffffffffffffffffffffffffffffffffffffffef36af495600000000000000000000000000000000000000000002fa739b424fb9f41bef4d0000000000000000000000000000000000000000000000000f4dab6ebbbfd7fbfffffffffffffffffffffffffffffffffffffffffffffffffffffffffffcf2ca","BlockNum":"14766804","Index":"30"};{"Topic0":"0xc42079f94a6350d7e6235f29174924f928cc2ac818eb64fed8004e115fbcca67","Topic1":"0x0000000000000000000000001111111254fb6c44bac0bed2854e76f90643097d","Topic2":"0x0000000000000000000000001111111254fb6c44bac0bed2854e76f90643097d","Data":"ffffffffffffffffffffffffffffffffffffffffffffffffeaee14f37ef659e300000000000000000000000000000000000000000000000000000000bb014c3a00000000000000000000000000000000000000000002fa7fd1f9593879ccd90c0000000000000000000000000000000000000000000000000f4dab6ebbbfd7fbfffffffffffffffffffffffffffffffffffffffffffffffffffffffffffcf2cb","BlockNum":"14766804","Index":"325"};{"Topic0":"0xc42079f94a6350d7e6235f29174924f928cc2ac818eb64fed8004e115fbcca67","Topic1":"0x000000000000000000000000def1c0ded9bec7f1a1670819833240f027b25eff","Topic2":"0x00000000000000000000000074de5d4fcbf63e00296fd95d33236b9794016631","Data":"0000000000000000000000000000000000000000000000004481b462195b9000fffffffffffffffffffffffffffffffffffffffffffffffffffffffda0aafabb00000000000000000000000000000000000000000002fa58225540ea11bf8bba0000000000000000000000000000000000000000000000000f4dab6ebbbfd7fbfffffffffffffffffffffffffffffffffffffffffffffffffffffffffffcf2c7","BlockNum":"14766804","Index":"614"};{"Topic0":"0xc42079f94a6350d7e6235f29174924f928cc2ac818eb64fed8004e115fbcca67","Topic1":"0x000000000000000000000000e592427a0aece92de3edee1f18e0157c05861564","Topic2":"0x000000000000000000000000badc0defafcf6d4239bdf0b66da4d7bd36fcf05a","Data":"ffffffffffffffffffffffffffffffffffffffffffffffffa5ce4b907b014bc50000000000000000000000000000000000000000000000000000000320733d8700000000000000000000000000000000000000000002fa8c69d15d9bb6e5ae5e0000000000000000000000000000000000000000000000000f4dab6ebbbfd7fbfffffffffffffffffffffffffffffffffffffffffffffffffffffffffffcf2cc","BlockNum":"14766809","Index":"429"};'

# Test 3

In [35]:
import ctypes
import tqdm
from ctypes import c_char_p, cdll
from pandarallel import pandarallel
from help_function import * 


GoInt64 = ctypes.c_int64
GoInt = GoInt64
__library = cdll.LoadLibrary('./library.so')
get_log_data = __library.get_log_data
get_log_data.argtypes = [c_char_p, c_char_p, GoInt, GoInt]
get_log_data.restype = c_char_p


oracle = "maker"
# token0 = 'usdt'
# token1 = 'eth'
token0 = 'eth'
token1 = 'usd'
block_from = 15190021
block_to =   15190821


data_source = f"{oracle}_{token0}_{token1}"
archive_node = "http://localhost:19545"
blcokFrom = block_from
blockTo = block_to

res = get_log_data(
    data_source.encode(), 
    archive_node.encode(), 
    GoInt(blcokFrom), 
    GoInt(blockTo)
)

print("data got")

res = res.decode("utf-8").split(';')[:-1]
res = pd.DataFrame(list(map(lambda x: json.loads(s=x), res)))
pandarallel.initialize(progress_bar=True)

# Chainlink
if oracle == 'chainlink':
    if token0 == 'eth':
        res['Current'] = res['Current'].parallel_apply(lambda x: hex2int(x)*10e-9)
    else:
        res['Current'] = res['Current'].parallel_apply(lambda x: hex2int(x) / 10**18)

# UniswapV2
elif oracle == 'uniswapv2':
    cut_point = int(len(res['Data'].iloc[0])/2)
    res['Reserve1'] = res['Data'].parallel_apply(lambda x: x[cut_point:])
    res['Reserve0'] = res['Data'].parallel_apply(lambda x: x[:cut_point])
    
    if token0 in 'dai usdt usdc':
        stable_token = token0
        stable_i = 0
    elif token1 in 'dai usdt usdc':
        stable_token = token1
        stable_i = 1
    
    # r0 is eth for USDT
    r0, r1 = reformat_log_uniswap_v2(res, stable_token=stable_token)
    
    if stable_token == 'usdt':
        
        # USDT/ETH
        if stable_i == 0:
            res['Current'] = r0 / r1
        
        # ETH/USDT
        else:
            res['Current'] = r1 / r0

    else:
        # USDC or DAI /ETH
        if stable_i == 0:
            res['Current'] = r1 / r0
        
        # ETH/USDC or DAI
        else:
            res['Current'] = r0 / r1

# UniswapV3
elif oracle == 'uniswapv3':
    cut_gap = int(len(res['Data'].iloc[0])/5)
    cut_start = 0
    for i, new_col in enumerate("amount0 amount1 sqrtPriceX96 liquidity tick".split(" ")):
        cut_end = cut_start + cut_gap
        res[new_col] = res['Data'].parallel_apply(lambda x: hex2int(x[cut_start:cut_end]))
        cut_start = cut_end

    if token0 == 'eth':
        if token1 == 'usdt':
            res['Current'] = res['sqrtPriceX96'].parallel_apply(cal_price_eth_left)
        elif token1 == 'dai':
            res['Current'] = res['sqrtPriceX96'].parallel_apply(cal_price_eth_right)/10**12
        else:
            res['Current'] = res['sqrtPriceX96'].parallel_apply(cal_price_eth_right)
    else:
        if token0 == 'usdt':
            res['Current'] = 1 / res['sqrtPriceX96'].parallel_apply(cal_price_eth_left)
        elif token0 == 'dai':
            res['Current'] = 1 / res['sqrtPriceX96'].parallel_apply(cal_price_eth_right) * 10**12
        else:
            res['Current'] = 1 / res['sqrtPriceX96'].parallel_apply(cal_price_eth_right)

# Maker
elif oracle == 'maker':
    assert token0 == 'eth' and token1 == 'usd', "ERROR: Maker Oracle only support ETH/USD"
    cut_gap = int(len(res['Data'].iloc[0])/2)
    cut_start = 0
    for i, new_col in enumerate("Current Age".split(" ")):
        cut_end = cut_start + cut_gap
        res[new_col] = res['Data'].apply(lambda x: hex2int(x[cut_start:cut_end]))
        cut_start = cut_end
    res['Current'] = res['Current'] * 10e-19

res = res[['Current', 'BlockNum', 'Index']]
res

data got
INFO: Pandarallel will run on 8 workers.
INFO: Pandarallel will use standard multiprocessing data transfer (pipe) to transfer data between the main process and workers.

       Current  BlockNum Index
0  1562.063415  15190139   446
1  1594.240084  15190698   375

# Test 4

In [4]:
import ctypes
import tqdm
from ctypes import c_char_p, cdll
from pandarallel import pandarallel
from help_function import * 
import pandas as pd


oracle = "maker"
# token0 = 'usdt'
# token1 = 'eth'
token0 = 'eth'
token1 = 'usd'
block_from = 15190021
block_to =   15190821
data_source = f"{oracle}_{token0}_{token1}"
archive_node = "http://localhost:19545"
blcokFrom = block_from
blockTo = block_to

__library = cdll.LoadLibrary('./library.so')
get_log_data = __library.get_log_data
get_log_data.argtypes = [c_char_p, c_char_p, GoInt, GoInt]
get_log_data.restype = c_char_p
get_block_time = __library.get_block_time
get_block_time.argtypes = [c_char_p, GoInt, GoInt]
get_block_time.restype = c_char_p

# Block Time
res = get_block_time(
    archive_node.encode(), 
    GoInt(blcokFrom), 
    GoInt(blockTo)
)
res = res.decode("utf-8")
res = pd.DataFrame(json.loads(s=res).items(), columns=['BlockNum', 'Timestamp'])
res['TimeStr'] = pd.to_datetime(res['Timestamp'], unit='s').apply(str)
block_time_df = res

data_source = f"{oracle}_{token0}_{token1}"
archive_node = "http://localhost:19545"
blcokFrom = block_from
blockTo = block_to

res = get_log_data(
    data_source.encode(), 
    archive_node.encode(), 
    GoInt(blcokFrom), 
    GoInt(blockTo)
)

res = res.decode("utf-8").split(';')[:-1]
res = pd.DataFrame(list(map(lambda x: json.loads(s=x), res)))


# Chainlink
if oracle == 'chainlink':
    if token0 == 'eth':
        res['Current'] = res['Current'].parallel_apply(lambda x: hex2int(x)*10e-8)
    else:
        res['Current'] = res['Current'].parallel_apply(lambda x: hex2int(x)/10**18)

# UniswapV2
elif oracle == 'uniswapv2':
    cut_point = int(len(res['Data'].iloc[0])/2)
    res['Reserve1'] = res['Data'].parallel_apply(lambda x: x[cut_point:])
    res['Reserve0'] = res['Data'].parallel_apply(lambda x: x[:cut_point])
    
    if token0 in 'dai usdt usdc':
        stable_token = token0
        stable_i = 0
    elif token1 in 'dai usdt usdc':
        stable_token = token1
        stable_i = 1
    
    # r0 is eth for USDT
    r0, r1 = reformat_log_uniswap_v2(res, stable_token=stable_token)
    
    if stable_token == 'usdt':
        
        # USDT/ETH
        if stable_i == 0:
            res['Current'] = r0 / r1
        
        # ETH/USDT
        else:
            res['Current'] = r1 / r0

    else:
        # USDC or DAI /ETH
        if stable_i == 0:
            res['Current'] = r1 / r0
        
        # ETH/USDC or DAI
        else:
            res['Current'] = r0 / r1

# UniswapV3
elif oracle == 'uniswapv3':
    cut_gap = int(len(res['Data'].iloc[0])/5)
    cut_start = 0
    for i, new_col in enumerate("amount0 amount1 sqrtPriceX96 liquidity tick".split(" ")):
        cut_end = cut_start + cut_gap
        res[new_col] = res['Data'].parallel_apply(lambda x: hex2int(x[cut_start:cut_end]))
        cut_start = cut_end

    if token0 == 'eth':
        if token1 == 'usdt':
            res['Current'] = res['sqrtPriceX96'].parallel_apply(cal_price_eth_left)
        elif token1 == 'dai':
            res['Current'] = res['sqrtPriceX96'].parallel_apply(cal_price_eth_right)/10**12
        else:
            res['Current'] = res['sqrtPriceX96'].parallel_apply(cal_price_eth_right)
    else:
        if token0 == 'usdt':
            res['Current'] = 1 / res['sqrtPriceX96'].parallel_apply(cal_price_eth_left)
        elif token0 == 'dai':
            res['Current'] = 1 / res['sqrtPriceX96'].parallel_apply(cal_price_eth_right) * 10**12
        else:
            res['Current'] = 1 / res['sqrtPriceX96'].parallel_apply(cal_price_eth_right)

# Maker
elif oracle == 'maker':
    assert token0 == 'eth' and token1 == 'usd', "ERROR: Maker Oracle only support ETH/USD"
    cut_gap = int(len(res['Data'].iloc[0])/2)
    cut_start = 0
    for i, new_col in enumerate("Current Age".split(" ")):
        cut_end = cut_start + cut_gap
        res[new_col] = res['Data'].apply(lambda x: hex2int(x[cut_start:cut_end]))
        cut_start = cut_end
    res['Current'] = res['Current'] * 10e-19

res = res[['Current', 'BlockNum', 'Index']]
res = res.merge(block_time_df, how='left', on='BlockNum')
res

       Current  BlockNum Index   Timestamp              TimeStr
0  1562.063415  15190139   446  1658462474  2022-07-22 04:01:14
1  1594.240084  15190698   375  1658470190  2022-07-22 06:09:50

In [16]:
a = pd.to_datetime(res['Timestamp'], unit='s', utc=True)
a.to_pydatetime()

AttributeError: 'Series' object has no attribute 'to_pydatetime'

# Test 5

In [3]:
import time
start = time.time()

block_from = 15190000
block_to =   15190111

archive_node = "http://localhost:19545"

blcokFrom = block_from
blockTo = block_to

import ctypes
import tqdm
from ctypes import c_char_p, cdll
# lib = ctypes.cdll.LoadLibrary("eth_crawler/library.so")
GoInt64 = ctypes.c_int64
GoInt = GoInt64
pandarallel.initialize(progress_bar=False)

__library = cdll.LoadLibrary('../eth_crawler/library.so')

get_block_time = __library.get_block_time
get_block_time.argtypes = [c_char_p, GoInt, GoInt]
get_block_time.restype = c_char_p

# Block Time
try:
    res = get_block_time(
        archive_node.encode(), 
        GoInt(blcokFrom), 
        GoInt(blockTo)
    )
except Exception as e: 
    print(e)


res = res.decode("utf-8")
res = pd.DataFrame(json.loads(s=res).items(), columns=['BlockNum', 'Timestamp'])
res['Datetime'] = pd.to_datetime(res['Timestamp'], unit='s', utc=True)
res['TimeStr'] = res['Datetime'].apply(str)
block_time_df = res

# for block_time_index in block_time_df.index:
#     tmp_block_num = int(block_time_df.loc[block_time_index, 'BlockNum'])
#     if tmp_block_num < min_block_num or tmp_block_num > max_block_num:
#         Block.objects.create(
#             number=tmp_block_num,
#             timestamp=block_time_df.loc[block_time_index, 'Timestamp'],
#             datetime= block_time_df.loc[block_time_index, 'Datetime'].to_pydatetime(),
#             utc_time_str=block_time_df.loc[block_time_index, 'TimeStr'] 
#         )
# end = time.time()
# return HttpResponse(f"Data Crawl Completed with time {np.round(end - start, 2)} second"+DATA_UPDATE_FORM)

INFO: Pandarallel will run on 8 workers.
INFO: Pandarallel will use standard multiprocessing data transfer (pipe) to transfer data between the main process and workers.

In [4]:
res

     BlockNum   Timestamp                  Datetime                    TimeStr
0    15190036  1658460933 2022-07-22 03:35:33+00:00  2022-07-22 03:35:33+00:00
1    15190037  1658460934 2022-07-22 03:35:34+00:00  2022-07-22 03:35:34+00:00
2    15190038  1658460941 2022-07-22 03:35:41+00:00  2022-07-22 03:35:41+00:00
3    15190039  1658460949 2022-07-22 03:35:49+00:00  2022-07-22 03:35:49+00:00
4    15190021  1658460707 2022-07-22 03:31:47+00:00  2022-07-22 03:31:47+00:00
..        ...         ...                       ...                        ...
110  15190068  1658461431 2022-07-22 03:43:51+00:00  2022-07-22 03:43:51+00:00
111  15190058  1658461311 2022-07-22 03:41:51+00:00  2022-07-22 03:41:51+00:00
112  15190059  1658461341 2022-07-22 03:42:21+00:00  2022-07-22 03:42:21+00:00
113  15190040  1658460952 2022-07-22 03:35:52+00:00  2022-07-22 03:35:52+00:00
114  15190041  1658460976 2022-07-22 03:36:16+00:00  2022-07-22 03:36:16+00:00

[115 rows x 4 columns]

In [ ]:
data_source

'chainlink_eth_usd'

In [ ]:
res

['']